.coinBlock{
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    margin-top: 1px; */
    display: grid;
    grid-template-columns:0.3fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    border-bottom-style: solid;
    border-bottom-color: rgb(219, 216, 216);
    border-bottom-width: 1px;
    margin-bottom: 10px;
    padding:2px
}

.coinBlock img {
    width:30px;
    height: 30px;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
}

.pagination li{
    list-style: none;
}

.activeEl{
    background-color: rgb(146, 144, 144);
}

.spinner{
    margin: auto;
    padding: 30px;
}

.spinnerBlock{
    display: flex;
    justify-content: center;
    height:80vh
}

.pagination button{
    border: none;
    background-color:#ebebeb;
    padding: 7px;
}