.inputsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

.inputsContainer input{
    height:30px;
    outline: none;
    border: none;
}

.convertForm{
    display: flex;
    align-items: center;
    background-color: #ffc107;
    padding:2px 3px 2px 3px;
    border-radius: 2px;
}

.dropdownSearch{
    max-height:200px;
    overflow: scroll;
    width:100px;
    overflow-x:hidden;
}
.inputValue{
    width:100px;
    
}

.searchInput{
    width:100%;
    height:20px !important;
    padding:1px 3px 1px 3px;
    border-radius: 2px;
    
}

.dropButton{
    border-radius: 1px;
}


.sparklineBox{
    width: 70%;
    display: flex;
    justify-content: center;
}

.buttonsDate button{
    border: none;
    width: 40px;
    margin-left: 3px;
    margin-top: 10px;
}

.section{
    background-color: rgb(231, 231, 228);
    border-radius: 10px;
    border: 1px solid rgb(202, 200, 200);
    padding: 20px;
    margin-top: 10px;
}

.try{
    width:100%
}

.activeEl{
    background-color: #ffc107;
    color: white;

}

.notActiveEl{
    background-color: rgb(215, 216, 212);
}
.equalSign{
    font-size: 60px;
    display: flex;
    align-items: center;
}